/*
   New Perspectives on HTML and CSS
   Tutorial 3
   Case Problem 2

   Mountain Wheels Text and Color Style
   Author: Vincent Tran
   Date: 2.1.17

   Filename: mw_styles.css
   Supporting Files: none

*/


/* body styles */

body {
    font-family: Tahoma, Geneva, sans-serif;
}


/* header stuff */


/*nav stuff */

nav ul {
    background-color: rgb(125, 120, 89);
    line-height: 3em;
    list-style-type: none;
}

nav ul li a {
    color: white;
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none
}

nav ul li a:hover {
    background-color: rgb(131, 121, 36);
    color: yellow;
    color: rgba(255, 255, 255, 1.0);
}

nav ul li:hover {
    list-style-image: url(wheelmarker.png);
}


/* article stuff/left section */

#articleheader {
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 7px;
    text-align: center;
}

#leftsection>p {
    font-size: 22px;
}

#firstpar::first-line {
    text-transform: uppercase;
}


/*blockquote stuff*/

blockquote {
    background-color: rgb(131, 121, 36);
    color: white;
    font-size: 16px;
    font-family: "Comic Sans MS", Times, cursive;
}

blockquote p:before {
    content: open-quote;
}

blockquote p:after {
    content: close-quote;
}


/* right section */

#rightsection>h1 {
    font-size: 22px;
    letter-spacing: 3px;
    font-weight: normal;
}

#rightsection>h2 {
    font-size: 18px;
    text-align: right;
    font-weight: normal;
}

#rightsection>p {
    color: gray;
    font-size: 14px;
    text-align: justify;
}


/*footer stuff */

footer address {
    font-size: 16px;
    font-weight: normal;
    text-align: center;
}
